body {
  margin: 0;
  background-color: #dadbd3;
}

.app {
  display: grid;
  place-items: center; 
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #ededed; 
  height: 95vh;
  width: 90vw;
  min-width: 900px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}