body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.background-container {
    width: 350px;
    height: 600px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: white;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    content: url('./assets/food.jpg'); 
}

.overlay-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f7d498; 
    padding: 20px 30px;
}

.card-content h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

.card-content p {
    font-size: 18px;
    color: #555;
    margin-bottom: 25px;
    text-align: center;
}

.book-now-button {
    background-color: white;
    color: orange;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    width: 100%;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    transition: background-color 0.3s;
}

.book-now-button:hover {
    background-color: grey;
}