.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.chat__header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid lightgray;
  background-color: #ededed;
}

.chat__header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 10px;
}

.chat__headerInfo h3 {
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 16px;
}

.chat__headerInfo p {
  color: gray;
  font-size: 14px;
}

.chat__headerRight {
    display: flex;
    min-width: 5vw;
    justify-content: space-around;
}

.chat__headerRight .icon {
    font-size: 1.5em;
    color: #51585c;
    cursor: pointer;
}

.chat__body {
  flex: 1;
  padding: 30px;
  overflow: scroll;
  background-color: #e5ddd5; 
}

.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  max-width: 60%;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.chat__receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: 10px;
  color: #46b7ff;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
  color: gray;
  float: right;
  margin-top: 10px;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
  background-color: #f0f0f0;
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 20px;
  padding: 10px;
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

.chat__footer > form > button {
  display: none;
}

.chat__footer .icon {
    padding: 10px;
    color: gray;
    font-size: 1.5em;
    cursor: pointer;
}