.sidebarChat {
  display: flex;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
  align-items: center;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info {
  margin-left: 15px;
  flex: 1;
}

.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 3px;
  font-weight: 500;
}

.sidebarChat__info > p {
  font-size: 14px;
  color: gray;
}

.sidebarChat__timestamp {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    color: gray;
}

.sidebarChat__avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}