.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  border-right: 1px solid lightgray;
  background-color: white;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.sidebar__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__headerRight .icon {
  margin-right: 2vw;
  font-size: 1.5em;
  color: #51585c;
  cursor: pointer;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 35px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  padding: 5px;
}

.sidebar__searchContainer > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
  flex: 1;
}

.sidebar__chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
}