.App{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 90px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.9);
    margin: 50px auto;
    max-width: 400px;
    background-color: black;
}

.clock-title {
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    color: white;
}

.time-display {
    color: white;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 8px;
}