.body{
  align-items: center;
  justify-content: center;
  display: flex;
}

.app-container {
  margin-top: 25%;
  text-align: center;
  max-width: 500px;
  margin: 19% auto;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

h1 {
  color: #333;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #cecece;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #170f78;
}

ul {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid white;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: black;
}

.delete-btn {
  background-color: #dc3545;
  margin-left: 10px;
  transition: background-color 0.5s ease;
}

.delete-btn:hover {
  background-color: #c823ba;
}